[Unit]
Description=JCourse Frontend Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/jcourse/jcourse-master
Environment=NODE_ENV=production
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target